@import url(https://fonts.googleapis.com/css?family=Roboto);
.transition {
	transition: all .3s linear
}

.paragraph {
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 1.5;
	color: #a6a6a6
}

.capitalize {
	text-transform: capitalize
}

.uppercase {
	text-transform: uppercase
}

.text-center {
	text-align: center
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.flex.row {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row
}

.flex.column,
.flex.row {
	-webkit-box-direction: normal
}

.flex.column {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column
}

.flex.align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.flex.justify-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.flex.wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.flex.justify-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.sprite {
	background-repeat: no-repeat;
	display: block
}

.sprite.sprite-angular {
	background-position: -5px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-angularjs {
	background-position: -55px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-bootstrap {
	background-position: -105px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite-icon {
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	margin: 5px auto 0px;
}

.sprite.sprite-aws {
	background-image: url(./images/aws.png)
}

.sprite.sprite-d3 {
	background-position: -55px -55px;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-docker {
	background-position: -105px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-ember {
	background-position: -5px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-eslint {
	background-position: -55px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-flux {
	background-position: -105px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-git {
	background-position: -155px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/84722b7c4e268ec1355d5a397a31223a.png)
}

.sprite.sprite-graphql {
	background-position: -5px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-grunt {
	background-position: -55px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-gulp {
	background-position: -105px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-handlebar {
	background-position: -5px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-highcharts {
	background-position: -55px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-gwt {
	background-image: url(./images/gwt.png)
}

.sprite.sprite-ionic {
	background-position: -5px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-jQuery {
	background-position: -55px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-jasmine {
	background-position: -105px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b0a055508f927b6a888b984ba88b7183.png)
}

.sprite.sprite-java {	
	background-image: url(./images/java.png)
}

.sprite.sprite-kotlin {
	background-image: url(./images/kotlin.jpeg)
}

.sprite.sprite-graphql {
	background-image: url(./images/graphql.png)
}

.sprite.sprite-karma {
	background-position: -5px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-knockoutjs {
	background-position: -55px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-mobx {
	background-position: -105px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-mocha {
	background-position: -5px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-nativescript {
	background-position: -55px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-mysql {	
	background-image: url(./images/mysql.png)
}

.sprite.sprite-npm {
	background-position: -5px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-phonegap {
	background-position: -55px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-php {
	background-image: url(./images/php.svg)
}

.sprite.sprite-protactor {
	background-position: -155px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/4b05db7114e87c467cc79b265da5c365.png)
}

.sprite.sprite-testNG {
	background-image: url(./images/testng.png)
}

.sprite.sprite-junit {
	background-image: url(./images/junit.jpg)
}

.sprite.sprite-react {
	background-position: -55px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-redux {
	background-position: -105px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-relay {
	background-position: -5px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-rollupjs {
	background-position: -55px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-rxjs {
	background-position: -105px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-springBoot {
	background-image: url(./images/spring.png)
}

.sprite.sprite-python {
	background-image: url(./images/python.png)
}

.sprite.sprite-vmware {
	background-position: -105px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-vsc {
	background-position: -155px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-vuejs {
	background-position: -155px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-webpack {
	background-position: -155px -105px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-yarn {
	background-position: -5px -155px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/b6c79a0632bff689fe3ded3a32371bac.png)
}

.sprite.sprite-facebook {
	background-position: -5px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(./images/contact_image.png)
}

.sprite.sprite-github {
	background-position: -55px -5px;
	width: 41px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/8ec50cf00244c8e91aade0ceebbbd18d.png)
}

.sprite.sprite-instagram {
	background-position: -5px -55px;
	width: 41px;
	height: 40px;
	margin: 5px auto;
	background-image: url(./images/contact_image.png)
}

.sprite.sprite-linkedin {
	background-position: -56px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(./images/contact_image.png)
}

.sprite.sprite-stackoverflow {
	background-position: -106px -5px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(/8ec50cf00244c8e91aade0ceebbbd18d.png)
}

.sprite.sprite-twitter {
	background-position: -106px -55px;
	width: 40px;
	height: 40px;
	margin: 5px auto;
	background-image: url(./images/contact_image.png)
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.delay003 {
	-webkit-animation-delay: .3s;
	animation-delay: .3s
}

.animated.delay004 {
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}

.animated.delay005 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}

.animated.delay006 {
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}

.animated.delay007 {
	-webkit-animation-delay: .7s;
	animation-delay: .7s
}

.animated.delay008 {
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}

.animated.delay009 {
	-webkit-animation-delay: .9s;
	animation-delay: .9s
}

.animated.delay010 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}

.animated.delay011 {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s
}

.animated.delay012 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s
}

.animated.delay013 {
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s
}

.animated.delay014 {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s
}

.animated.delay015 {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s
}

.animated.delay016 {
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s
}

.animated.delay017 {
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s
}

.animated.delay018 {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s
}

.animated.delay019 {
	-webkit-animation-delay: 1.9s;
	animation-delay: 1.9s
}

.animated.delay020 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

body,
html {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 500
}

h1 {
	text-align: center
}

.app {
	height: 100%;
	width: 100%;
	background-color: #000;
	background-attachment: fixed;
	background-size: 110%;
	background-position: 50%;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative
}

@media (min-width:0px) and (max-width:767px) {
	.app {
		background-size: cover
	}
}

@media (min-width:768px) and (max-width:1023px) {
	.app {
		background-size: cover
	}
}

.app-content {
	height: 100%;
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch
}

@media (min-width:0px) and (max-width:767px) {
	.app-content {
		background: rgba(0, 0, 0, .5)
	}
}

.header-outlet {
	height: 120px;
	z-index: 100;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

@media (min-width:768px) and (max-width:1023px) {
	.header-outlet {
		height: 100px
	}
}

@media (min-width:0px) and (max-width:767px) {
	.header-outlet {
		height: 70px
	}
}

.view-outlet {
	width: 55%;
	padding-top: 1px
}

@media (min-width:0px) and (max-width:767px) {
	.view-outlet {
		width: 100%
	}
}

@media (min-width:0px) and (max-width:767px) {
	.view-outlet>div {
		width: 90%;
		margin-left: auto;
		margin-right: auto
	}
}

.menu-outlet {
	height: 80px;
	width: 55%;
	background: #000;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	bottom: 0
}

@media (min-width:0px) and (max-width:767px) {
	.menu-outlet {
		width: 100%;
		height: 50px
	}
}

.section-header {
	font-weight: 400;
	color: #bf9f60
}

.section-header h2 {
	display: inline-block;
	border-bottom: 2px solid #bf9f60;
	padding: 0 20px 12px 50px;
	margin: 0;
	font-weight: 500
}

.menu-item {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #bf9f60;
	cursor: pointer
}

@media (min-width:768px) and (max-width:1023px) {
	.menu-item {
		font-size: .9em;
		letter-spacing: 1px
	}
}

@media (min-width:0px) and (max-width:767px) {
	.menu-item {
		font-size: .8em;
		letter-spacing: 1px
	}
}

.menu-item:not(:last-child):after {
	content: "|"
}

.menu-item>a {
	position: relative;
	margin: 0 10px;
	color: #bf9f60;
	text-decoration: none
}

@media (min-width:0px) and (max-width:767px) {
	.menu-item>a {
		margin: 0 8px
	}
}

.menu-item>a:after {
	content: "";
	width: 20px;
	height: 3px;
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 50%;
	background: #bf9f60;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	transition: all .3s linear
}

@media (min-width:0px) and (max-width:767px) {
	.menu-item>a:after {
		top: 20px
	}
}

.menu-item>a.active:after,
.menu-item>a:hover:after {
	width: 100%
}

.about {
	width: 70%;
	margin: auto;
	text-align: center;
	margin: 0 auto 100px
}

.about .name-label {
	display: inline-block;
	font-size: 2em;
	padding: 0 10px;
	font-weight: 400;
	color: #bf9f60
}

.about .name-subheader {
	color: #727272;
	margin-top: 8px
}

.about .about-details {
	font-size: 1em
}

.about .about-details p {
	margin-top: 16px
}

.about .download-resume-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 24px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.about .download-resume-btn a {
	padding: 10px 15px;
	outline: 1px solid #bf9f60;
	color: #bf9f60;
	text-decoration: none
}

.work-exp-list {
	border-left: 1px solid #a6a6a6;
	width: 80%;
	margin: 24px auto 100px;
	-ms-flex-item-align: center;
	align-self: center
}

.work-exp-list .work-exp-item {
	padding: 0 0 0 24px;
	position: relative;
	color: #a6a6a6
}

.work-exp-list .work-exp-item h3 {
	color: #bf9f60;
	margin: 0
}

.work-exp-list .work-exp-item label {
	color: #727272;
	margin-top: 16px;
	display: inline-block
}

.work-exp-list .work-exp-item p {
	margin: 16px 0
}

.work-exp-list .work-exp-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: -8px;
	width: 16px;
	height: 16px;
	background: #bf9f60;
	border-radius: 50%
}

.contact-item h4 {
	font-size: 1.3em;
	letter-spacing: 1px;
	cursor: pointer;
	font-weight: 400
}

.contact-item h4 a {
	color: #bf9f60
}

.contact-item h4 a:hover {
	text-decoration: underline
}

.social-links {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.social-links .social-link-item {
	margin: 10px 15px
}

@media (min-width:768px) and (max-width:1023px) {
	.social-links .social-link-item {
		margin: 10px
	}
}

@media (min-width:0px) and (max-width:767px) {
	.social-links .social-link-item {
		margin: 7px
	}
}

.contact {
	width: 80%;
	margin: 50px auto 80px
}

.skill-list .skill-list-item {
	margin-top: 16px;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 80px;
	flex: 0 1 80px;
	color: #a6a6a6
}

.skill-list .skill-list-item span {
	font-size: .8em;
	display: inline-block;
	padding: 8px 0 0;
	letter-spacing: 1px
}

.skill-section {
	margin-top: 24px
}

.skill-section h3 {
	color: #bf9f60;
	margin: 0
}

.skills {
	width: 80%;
	margin: 24px auto 100px
}

.experience-scroller {
	height: 100vh;
}

.skills>p {
	margin: 0
}